

body{
    min-height: 100vh;
    background:rgb(57, 57, 245)

}

.btningreso{
    border-radius: 3px;
    width: 270px;
    height: 30px;
    background-color: rgb(243, 136, 82);
    border-radius: 30px;
    border: none;
    color: white;
    font-size: medium;
    margin-left: 3px;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center; 
    align-content: block;
    padding-top: 45px;
    
}

textarea{

    margin-left: -120px;
}

form{
    background-color: white;
    
    padding-bottom: 200px;
    padding-top: 10px;
    text-align: center;
    height: 300px;
    width: 320px;
    border-radius: 20px;
    
   
}

.activar{
    background-color: aquamarine;

}
.btnremember{
    margin-left: -130px;

}







.recordar{
    color: rgb(182, 178, 173);
 

}
.rec{
    padding-right: -29px;
    background-color: rgb(172, 129, 27);
}



.up{
    color: rgb(27, 27, 242);
    text-decoration: none;
}

.forget{
    text-decoration: none;
    color:rgb(182, 178, 173);
   
}

form .grupo_input{
    position: relative;
    
  
    
}

form .grupo_input input{
    padding: 10px 10px 10px 50px;
    margin-bottom: 12px;
    outline: none;
    font-size: 20px;
    background-color: rgb(238, 238, 238);
    border-radius: 30px;
    border: none;
    color: rgb(228, 223, 223);
    
    
}

form .grupo_input i{
    position: absolute;
    margin-left: 10px;
    top:10px;
    color: rgb(189, 183, 183);
    font-size: 25px;
    
     
    
}

.ingreso{
    border-radius: 30px;
    padding: 7px;
    background-color: rgba(235, 231, 231, 0.885);
    border: none;
    width: 250px;
    height: 20px;

}

form .grupo_input input::placeholder{
    color:rgba(235, 231, 231, 0.885);
}





